<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Sqft:</strong>
    <%= room.sqft %>
  </p>

  <p>
    <strong>Windows:</strong>
    <%= room.windows %>
  </p>

  <p>
    <strong>Doors:</strong>
    <%= room.doors %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= room.color %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

</div>
